<div class="ml-share-deploy a-pad-0 a-mar-0 {{modifier}} {{id}}"
    data-via="{{via}}"
    data-share-text="{{text}}"
    data-share-link="{{url}}"
    data-hashtags="{{tags}}">
    <div class="ml-share-deploy__share ml-share-deploy__share--left ml-share-deploy__svg">
        {{> atoms/icons/social/share}}
        <nav class="ml-share-deploy__navigation  u-pointer">
            <div data-social="twitter" data-target="{{id}}"
                class="bs_social_media ml-share-deploy__navigation__network">
                {{> atoms/icons/social/twitter}}
            </div>
            <div data-social="whatsapp" data-target="{{id}}"
                class="bs_social_media ml-share-deploy__navigation__network">
                {{> atoms/icons/social/whatsapp}}
            </div>
            <div data-social="facebook" data-target="{{id}}"
                class="bs_social_media ml-share-deploy__navigation__network">
                {{> atoms/icons/social/facebook}}
            </div>
        </nav>
    </div>
</div>