<div class="l-flex {{modifier}}">
    <input class="a-input a-input__checkbox l-flex-item--align-center"
           type="checkbox"
           {{#if required}}required="required"{{/if}}
           id="{{name}}"
           value="{{value}}">
    <label class="a-pad--x" for="{{name}}">{{{label}}}</label>
</div>